*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    height: 100vh;
    width: 100vw;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes erreur {
    0%{
        transform: rotate(-10deg);
    };
    25% {
        transform: rotate(0deg);
        color: red;
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(0deg);
        color: red;
    }
    100% {
        transform: rotate(-10deg);
    }
}
#phrase {
    width: 90vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* z-index: 1; */
}
#focus {
    display: none;
    position: absolute;
    top: 50%;
    color: #f1f1f1;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* z-index: 2; */
    font-weight: 500;
}
#sujet {
    color: #8e8e8e;
    font-size: xxx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#cita-select {
    position: absolute;
    top: 2%;
    left: 1%;
    background-color: #8e8e8e;
    color: #2b2b2b;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}
#logo {
    width: 20vw;
    position: absolute;
    top: 1%;
}
#cool-pol {
    position: absolute;
    top: 2%;
    right: 1%;
    background-color: transparent;
    border: none;
}
#cool-fond {
    position: absolute;
    top: 6%;
    right: 1%;
    background-color: transparent;
    border: none;
}
#cool-pol:hover, #cool-fond:hover, #cita-select:hover {
    cursor: pointer;
}
.cit {
    font-family: black;
    font-size: 300%;
}
.cit:first-child {
    text-align: left;
}
.cit:last-child {
    text-align: right;
}
#infos {
    color: #8e8e8e;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 10%;
}
#result {
    color: #f1f1f1;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
}
/* #s0:before{ 
    content: ""; 
    width: 3px; 
    height: 3rem; 
    display: inline-block;      
    background: #f1f1f1;
    animation: clignote 1s infinite linear;
} */
.cursor:before{ 
    content: ""; 
    width: 3px; 
    height: 3rem; 
    display: inline-block;      
    background: #f1f1f1;
    animation: clignote 1s infinite linear;
}
@keyframes clignote {
    from{ 
        opacity: 0; 
    }      
    to{ 
        opacity: 1;
    }    
}
#loader {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    position: absolute;
    outline: none;
    border: none;
    background-color: #292929;
}
#loader-img {
    max-height: 70%;
}
#loading {
    position: absolute;
    z-index: 100;
    color: #f1f1f1;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    bottom: 1%;
    
}
#point:first-child {
    animation: clignote 2s 3 linear;
}
#point:nth-child(2) {
    animation: clignote 2s 3 linear;
    animation-delay: 0.3s;
}
#point:last-child {
    animation: clignote 2s 3 linear;
    animation-delay: 0.6s;
}
@keyframes disparition{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}